body {
  background-color: #23303b;
  color: white;
}

#header-img {
    width: 100px;
    height: auto;
}

h1 {
  font-family: 'Langar';
  text-align: center;
}

p {
  font-family: 'Raleway';
}


#headtitle {
  font-family: 'Langar';
  margin-top: -75px;
  margin-left: 110px;
}



.topnav {
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .topnav a {
    color: white;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Langar';
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

#hosgeldin, #neleryaptık {
    margin-bottom: auto;
    text-align: center;
  }
  
  #hosgeldinp, #neleryaptıkp {
    text-align: center;
    width: 800px;
    margin: 0 auto;
  }

#firstul {
    text-align: center;
    list-style-position: inside;
  }

.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    margin-top: -20px;
    margin-bottom: 40px;
  }

  .container .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background:  #0D1821;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

  .photo {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #box1, #box2, #box3 {
    font-family: 'Langar';
    color: white;
    text-align: center;
  }

  #box2 .photo {
    width: 200px;
  }

  #box3 .photo {
    width: 100px;
  }

  #iletişim, #iletişimp, form {
    text-align: center;
    margin: 0px auto;
    max-width: 900px;
    min-width: 600px;
    width: 75%;
    padding-bottom: 20px;
  }

  